.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;
  background-color: #bdbaba;
  box-shadow: 2px 3px 14px 2px #00000069;
}
.image {
  height: 140px;
  width: 140px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(63, 63, 63);
  margin: 0 auto;
  margin-top: 6px;
}
.name {
  font-style: italic;
  font-size: 34px;
  padding-top: 30px;
}
.tag,
.location {
  font-size: 20px;
  color: rgb(94, 94, 94);
  padding-bottom: 10px;
}
.stats {
  display: flex;
  border-top: 1px solid black;
  justify-content: space-between;
}
.listats {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  font-size: 20px;
  background-color: #999999;
  border-right: 1px solid black;
  width: 120px;
}
.listats:last-child {
  border-right: none;
}
.quantity {
  font-size: 24px;
  font-weight: 700;
}
